.login{
    margin: 5%;
}

.login h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.login form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
}

.login form input{
    margin: 20px 0;
}

.login button{
    height: 30px;
    width: 110px;
    outline: none;
    color: black;
    background-color: rgb(182, 180, 180);
    border: none;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    margin-left: 5px;
}

.login form p{
    margin-left: 0;
}