.card-item p{
    text-align: center;
    margin:10px auto;
    font-size: 16px;
    color: black;
}
.price{
    text-decoration: underline;
    margin:5px;
    display: inline-block;
}
.line{
    text-decoration: line-through !important;
    color: gray;
}

.card-item a{
    text-decoration: none;
}

.card-item{
    width: 28%;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
}
.card-item img{
    width: 100%;
}
#admin-card{
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
}
#admin-card img{
    width: 220px;
    z-index: -1;
}

#admin-card button{
    background-color: red;
    color: white;
    width: 15%;
    height: 30px;
    border: none;
    cursor: pointer;
}