.row{
    display: flex;
    margin: auto;
    width: 84%;
}
.product-item{
    width: 50%;
}
.full-btn{
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    position: relative;
    left: 78%;
    top:-90%;
    outline: none;
}
.full-img{
    top:80px;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(15, 15, 15, 0.459);
    text-align: center;
}
.full-img img{
    margin-top: 5%;
    width: 40%;
}
.product-item h1{
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
}
.product-item img{
    width: 80%;
}
p{
    font-size: 15px;
    line-height: 20px;
    margin: 10px auto;
}
.price-p{
    font-size: 30px;
}
.add-card input{
    width: 40px;
    height: 26px;
    outline: none;
    padding-left: 5px;
}

.add-card button{
    height: 30px;
    width: 110px;
    outline: none;
    background-color: black;
    color: rgb(182, 180, 180);
    border: none;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    margin-left: 5px;
}

.viewCard{
    background-color: rgb(231, 227, 227);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: auto;
    margin-bottom: 30px;
    text-align: left;
}

.viewCard button{
    color: rgb(74, 75, 77);
    font-weight: 900;
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(184, 185, 187);
    padding-left: 20px;
    padding-right: 20px;
}