.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.header nav > ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header nav > ul li{
    text-transform: capitalize;
    margin: auto 20px;
    cursor: pointer;
}
.header li a {
    color: black;
    text-decoration: none;
}
.submenu{
    position: absolute;
    padding:15px;
    background-color: white;
    z-index: 10;
}

.submenu ul li {
    line-height: 25px;
}

.search-input input{
    height: 24px;
    width: 180px;
    padding-left: 10px;
    border:1px solid gray;
    border-radius: 5px;
    padding-right: 25px;
}
.search-input img{
    margin-left: -20px;
}