.footer .column{
    width: 30%;
    margin: auto;
}

.footer{
    margin-top: 70px;
}

.footer h1{
    font-weight: 900;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
}
.footer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.subscribe-input input{
    height: 36px;
    width: 240px;
    padding-left: 10px;
    background-color: rgb(238, 238, 238);
    border:1px solid gray;
    border-right: none;
}

.subscribe-input button{
    height: 40px;
    width: 36px;
    color: white;
    background-color: black;
    border:none;
}
.center{
    margin: 40px auto;
    text-align: center;
}
.center p{
    margin-top: 20px;
    font-size: 16px;
}

.center a{
    margin:auto 10px;
}