.basket-item table{
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(184, 182, 182);
}

.basket-item table img{
    width: 40px;
}

.basket-item table tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(184, 182, 182);
    padding-left: 20px;
    padding-right: 20px;
    border-collapse:collapse;
}
.basket-item table tr:last-child{
    border-bottom: none;
}
.basket-item table th{
    font-weight: 700;
}

.basket-item table button{
    border:none;
    border-radius: 5px;
    color: gray;
    background-color: rgb(206, 203, 203);
    font-size: 15px;
    font-weight: 700;
    padding: 7px;
}

.basket-item table input{
    height: 24px;
    margin-right: 10px;
}
#td{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#td button{
    border-radius: 50%;
    background-color: white;
    color: red;
    width: 30px;
    margin-right: 30px;
    text-transform: capitalize;
    font-weight: 900;
}

.total-block{
    margin-left: 49%;
    width: 45%;
    margin-top: 40px;
}

.total-block h1{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
}

.checkout-btn{
    background-color: black !important;
    color: rgb(153, 152, 152) !important;
    width: 90%;
    border-radius: 5px;
    height: 40px;
    border: none;
    margin-top: 10px;
    font-weight: 700;
}