.form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(114, 112, 112, 0.185)
}
.form input, .form select{
    height: 30px;
    margin-top: 20px;
    outline: none;
}
.date-select{
    height: 120px !important;
}
.div{
    position: absolute;
    left:30%;
    width: 30%;
    top:10%;
    background-color: white;
    z-index: 999;
}

button{
    height: 40px;
    margin: 30px;
    background-color: silver;
    color: black;
    border: none;
    outline: none;
}